:root {
  --tamanobanner:10%;
  --posicionmapa:20%;
  --botonesmapa:5%;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

#banner {
    background-image: url("../images/tripadvisor.gif");
    background-repeat: no-repeat;
    background-size: 95% 100%;

    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    height: var(--tamanobanner);
    width: 100%;

    border-style: solid;
    border-color: green;
}

#principal {
    position: absolute;
    top: var(--tamanobanner);
    bottom: 0;
    width: 100%;
    height: 90%;
}

#colecciones{
    bottom: 0;
    width: var(--posicionmapa);
    height: 100%;

    overflow-y: scroll;
}

#containerMap{
    position: absolute;
    left: var(--posicionmapa);
    bottom: 0;
    width: 60%;
    height: 100%;

    border-style: solid;
    border-color: black;
}

#list {
  margin: 0;
  padding: 0;
  width: 60%;
}

#list ul li {
  margin: 0 3px 3px 3px;
  border: 1px solid black;
  background-color: red;
}

#listahoteles{
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    width: var(--posicionmapa);

    overflow-y: scroll;
    overflow-x:hidden;
  }

#banner *{
  position: absolute;

  width: 5%;
  height: 50%;
  right: 0;
}

#guardar{
  top: 0;
}

#cargar{
  bottom: 0;
}

#cargarJ{
  position: absolute;

  width: 100%;
  height: 5%;
  top: 0;
}

#mapa{
  height: 100%;
  top: 0;
  left: 0;
}

#infoH{

  height: var(--botonesmapa);
  right: 0;
  top: 0;
}

#colecciones *{
  position: relative;
  width: 100%;
  height: 5%;
}

#crearC{
  top: 0;
  left: 0;
}

#borrarC{
  top:0;
  right: 0;
}

#listacolecciones{
  height: 90%;
  position: relative;
}

#listacolecciones *{
  height: auto;
}
#listacolecciones div div a{
  display: inline-block;
}


#mapid{
  height: 765px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#sortable {
  width: 150%;
}
