:root {
  --tamanobanner:10%;
  --posicionmapa:20%;
  --botonesmapa:5%;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

#banner {
    background-image: url("../images/tripadvisor.gif");
    background-repeat: no-repeat;
    background-size: 95% 100%;

    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    height: var(--tamanobanner);
    width: 100%;

    border-style: solid;
    border-color: green;
}

#principal {
    position: absolute;
    top: var(--tamanobanner);
    bottom: 0;
    width: 100%;
    height: 90%;
}

#colecciones{
    position: absolute;
    bottom: 0;
    width: var(--posicionmapa);
    height: 100%;

    overflow-y: scroll;
    overflow-x:hidden;
}

#containerMap{
    position: absolute;
    left: var(--posicionmapa);
    bottom: 0;
    width: 60%;
    height: 100%;

    border-style: solid;
    border-color: black;
}

#listahoteles{
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    width: var(--posicionmapa);

    overflow-y: scroll;
    overflow-x:hidden;
  }

#banner *{
  position: absolute;

  width: 5%;
  height: 50%;
  right: 0;
}

#guardar{
  top: 0;
}

#cargar{
  bottom: 0;
}

#cargarJ{
  position: absolute;

  width: 100%;
  height: 5%;
  top: 0;
}

#mapa{

  /*height: var(--botonesmapa);*/
  height: 100%;
  top: 0;
  left: 0;
}

#infoH{

  height: var(--botonesmapa);
  right: 0;
  top: 0;
}

#colecciones *{
  position: absolute;

  width: 50%;
  height: 5%;
}

#crearC{
  top: 0;
  left: 0;
}

#borrarC{
  right: 0;
  top: 0;
}

#expandir{
  bottom: 0;
  left: 0;
}

#comprimir{
  right: 0;
  bottom: 0;
}

#mapid{
  height: 830px;
}
